# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summrized

**Objectives**:
- List popular languages for Data Science
- Som of the commonly used libraries for Data Science
- Data Science Tools
- Evaluating arithmetic expression in Python
- Create ordered and unordered list

Some of the populare languages that Data Sientists use are:
1.Python
2.R
3.SQL
4.Scala
5.Java
6.C++
7.Julia

Some of the commanly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.Matplotlib
4.SciPy
5.Keras
6.Vegas


|Data Science Tools|
--------------------
|MySQL|
|PostgreSQL|
|Hadoop File System|

### Below are a few examples of evaluting arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integres

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Sara Bagheri